{namespace esc=Nitsan\NsGoogleMap\ViewHelpers\OlderVersion}
<div class="info-window">
    <div class="title">
        <p>
            <f:format.raw>
                {address.title}
            </f:format.raw>
        </p>
    </div>
    <div class="address">
        <f:format.raw>
            <f:format.crop maxCharacters="150">
                {address.infocontent}
            </f:format.crop>
        </f:format.raw>
    </div>
    <f:if condition="{address.maplink}">
        <div class="view-link">
            <a href="https://maps.google.com/maps?daddr=<f:format.urlencode>{address.address}</f:format.urlencode>(<f:format.urlencode>{address.title}</f:format.urlencode>)" target="_blank">
                <span>
                    <f:translate key="LLL:EXT:ns_google_map/Resources/Private/Language/locallang.xlf:tx_nsgooglemap_domain_model_address.maplink">
                    </f:translate>
                </span>
            </a>
        </div>
    </f:if>
</div>
