{namespace esc=Nitsan\NsGoogleMap\ViewHelpers}
<div class="add_sidebar" id="sidebar_map_{data.uid}">
    <f:for as="address" each="{locations}" iteration="i">
        <div class="map-add" data-markerid="{i.index}">
            <div class="title">                
                <b>{address.title}</b>
            </div>
            <div class="address">
                <f:format.raw>
                    <f:format.crop maxCharacters="150" append="">
                        {address.infocontent}
                    </f:format.crop>
                </f:format.raw>
            </div>            
        </div>
    </f:for>
</div>